.d3-component svg {
  background: #ddd;
  max-height: 300px;
}
@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}

.idyll-scroll .idyll-text-container {
  max-width: 45vw;
}
.idyll-scroll-text .idyll-step {
  max-width: 45vw;
}
.d3-component-container {
  height: 22vw;
  width: 40vw;
  margin-left: 0vw;
}
#idyll-scroll-1 {
  background: #fffcc1;
}
.helpButton{
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 10px;
}
.rightMarg{
  margin-right: 20px;
}
@media only screen and (max-width: 600px) {
  .idyll-scroll .idyll-text-container {
    max-width: 57vw;
  }
  .idyll-scroll-text .idyll-step {
    max-width: 57vw;
  }
  .d3-component-container {
    height: 31vw;
    width: 31vw;
    margin-left: 65vw;
  }

}
.net_img{
  margin-top:-15px;
}
.showVert{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 7px;
  margin-left: -7px;
  /*width: 25%;*/
  /*margin-left: 30%;*/
  /*margin-right: 30%;*/
}
.showVert:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.showEdge{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 7px;
/*  width: 25%;
  margin-left: 30%;
  margin-right: 30%;*/
}
.showEdge:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.showCap{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 7px;
  /*width: 25%;*/
  /*margin-left: 30%;*/
  /*margin-right: 30%;*/
}
.showCap:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.showNet{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 7px;
  /*width: 25%;*/
  /*margin-left: 30%;*/
  /*margin-right: 30%;*/
}
.showNet:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.notMaxFlow{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;

/*  margin-left: 30%;
  margin-right: 30%;*/
}
.notMaxFlow:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.maxFlow{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
/*  margin-left: 30%;
  margin-right: 30%;*/
}
.maxFlow:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.capEx{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  margin-left: -6px;
/*  margin-left: 30%;
  margin-right: 30%;*/
}
.capEx:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.simpleExample{
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 30%;
  margin-right: 30%;
}
.simpleExample:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}



